body {
    margin: 60px auto;
    width: 70%;
    font-family: "Vollkorn", Palatino, Times;
}
img, video, audio, iframe, object {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.75em;
    color: #808080;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}
p {
    font-size: 1.2em;
    line-height: 1.2em;
    color: #333;
}
ul {
  font-size: 1.2em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
}
